customtkinter==6.1.5
requests==2.31.0
cryptography==41.0.3
fpdf==1.7.2
pyttsx3==2.90
edge-tts==0.6.0
pygame==2.5.2
plyer==2.0.0
bcrypt==4.0.1
python-dotenv==1.0.0
paramiko==3.0.0
argon2-cffi==23.2.0
pip-audit==3.0.0
